<a href="https://colab.research.google.com/github/markdevine/ET5003_SEM1_2021-2/blob/main/ET5003_KaggleCompetition_MarkDevine_19187289.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div>
<img src="https://drive.google.com/uc?export=view&id=1vK33e_EqaHgBHcbRV_m38hx6IkG0blK_" width="350"/>
</div> 

#**Artificial Intelligence - MSc**
##ET5003 - MACHINE LEARNING APPLICATIONS 

###Instructor: Enrique Naredo
###ET5003_KaggleCompetition

In [ ]:
#@title Current Date
Today = '2021-10-09' #@param {type:"date"}

In [ ]:
#@markdown ---
#@markdown ### Enter your details here:
Team_Number = "" #@param {type:"string"}
Student_ID&Name = "Mark Devine" #@param {type:"string"}
Student_ID&Name = "Mark Devine" #@param {type:"string"}
Student_ID&Name = "" #@param {type:"string"}
Student_ID&Name = "" #@param {type:"string"}
Student_ID&Name = "" #@param {type:"string"}
#@markdown ---

In [ ]:
#@title Notebook information
Notebook_type = 'Etivity' #@param ["Example", "Lab", "Practice", "Etivity", "Assignment", "Exam"]
Version = Draft #@param ["Draft", "Final"] {type:"raw"}
Submission = False #@param {type:"boolean"}

# INTRODUCTION

Your introduction here.

***The goal is to use advanced Machine Learning methods to predict House price.***

## Imports

In [5]:
# Suppressing Warnings:
import warnings
warnings.filterwarnings("ignore")

In [6]:
# standard libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
# to plot
import matplotlib.colors
from mpl_toolkits.mplot3d import Axes3D

# to generate classification, regression and clustering datasets
import sklearn.datasets as dt

# to create data frames
from pandas import DataFrame

# to generate data from an existing dataset
from sklearn.neighbors import KernelDensity
from sklearn.model_selection import GridSearchCV

In [8]:
# Scikit-learn is an open source machine learning library 
# that supports supervised and unsupervised learning
# https://scikit-learn.org/stable/
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, confusion_matrix

In [9]:
# Regular expression operations
#https://docs.python.org/3/library/re.html
import re 

# Natural Language Toolkit
# https://www.nltk.org/install.html
import nltk

# Stemming maps different forms of the same word to a common “stem” 
# https://pypi.org/project/snowballstemmer/
from nltk.stem import SnowballStemmer

# https://www.nltk.org/book/ch02.html
from nltk.corpus import stopwords

# https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
from sklearn.preprocessing import StandardScaler

In [10]:
!pip install gpy

Collecting gpy
  Downloading GPy-1.10.0.tar.gz (959 kB)
     |████████████████████████████████| 959 kB 5.1 MB/s
Requirement already satisfied: numpy>=1.7 in /usr/local/lib/python3.7/dist-packages (from gpy) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gpy) (1.15.0)
Collecting paramz>=0.9.0
  Downloading paramz-0.9.5.tar.gz (71 kB)
     |████████████████████████████████| 71 kB 9.3 MB/s
Requirement already satisfied: cython>=0.29 in /usr/local/lib/python3.7/dist-packages (from gpy) (0.29.24)
Requirement already satisfied: scipy>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from gpy) (1.4.1)
Requirement already satisfied: decorator>=4.0.10 in /usr/local/lib/python3.7/dist-packages (from paramz>=0.9.0->gpy) (4.4.2)
Building wheels for collected packages: gpy, paramz
  Building wheel for gpy (setup.py) ... done
  Created wheel for gpy: filename=GPy-1.10.0-cp37-cp37m-linux_x86_64.whl size=2565116 sha256=bcccb17176040bd093a78cbcf88bd3a8405c31dd4c67ced1be36d40eb779947e
  Stored in directory: /root/.cache/pip/wheels/f7/18/28/dd1ce0192a81b71a3b086fd952511d088b21e8359ea496860a
  Building wheel for paramz (setup.py) ... done
  Created wheel for paramz: filename=paramz-0.9.5-py3-none-any.whl size=102565 sha256=9a3ceeb04e69b8eb883751961519c459431bf86fcfca71003be1dedc33867294
  Stored in directory: /root/.cache/pip/wheels/c8/95/f5/ce28482da28162e6028c4b3a32c41d147395825b3cd62bc810
Successfully built gpy paramz
Installing collected packages: paramz, gpy
Successfully installed gpy-1.10.0 paramz-0.9.5

In [11]:
import GPy as GPy
import numpy as np
import pylab as pb
import pymc3 as pm
import arviz as az

In [12]:
# Define the seed so that results can be reproduced
seed = 11
rand_state = 11

# Define the color maps for plots
color_map = plt.cm.get_cmap('RdYlBu')
color_map_discrete = matplotlib.colors.LinearSegmentedColormap.from_list("", ["red","cyan","magenta","blue"])

# DATASET

Extract from this [paper](https://ieeexplore.ieee.org/document/9300074):

* House prices are a significant impression of the economy, and its value ranges are of great concerns for the clients and property dealers. 

* Housing price escalate every year that eventually reinforced the need of strategy or technique that could predict house prices in future. 

* There are certain factors that influence house prices including physical conditions, locations, number of bedrooms and others.

1. [Download the dataset](https://github.com/UL-CS6134/CS6134_SEM1_2021-2/tree/main/Week-5). 

2. Upload the dataset into your folder.

The challenge is to predict the final price of each house.

### Loading the housing price dataset

In [13]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:
# Path, copy the path from your Drive
path = '/content/drive/MyDrive/Colab Notebooks/Data/Kaggle/'

# Housing Price Data
train_data = path + 'HousePrice_Train.csv'
test_data = path + 'HousePrice_Test.csv'

# train data
df_train = pd.read_csv(train_data)
# X_train_original = df_train.drop("label",axis=1).values
# y_train = df_train.label.values
print(df_train.shape)

# test data
df_test = pd.read_csv(test_data)
# X_test_original = df_test.drop("label",axis=1).values
# y_test = df_test.label.values
print(df_test.shape)

(1638, 14)
(702, 13)

## Training & Test Data

In [14]:
# split data into training and test
from sklearn.model_selection import train_test_split

# training: 70% (0.7), test: 30% (0.3) 
# you could try any other combination 
# but consider 50% of training as the low boundary
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

NameError: ignored

### Train dataset

In [ ]:
# training dataset: 
training_file = syntPath+filename1
# test dataset: 
testing_file = syntPath+filename2
# cost dataset: 
cost_file = syntPath+filename3

In [16]:
# show first data frame rows 
df_train.head()

   Index        ID      Location  ...           Type  Surface   Price
0      1  12409116         Ongar  ...      apartment    67.00  195000
1      2  12320330  North Strand  ...       terraced    95.97  425000
2      3  12405953     Stepaside  ...  semi-detached   107.00  535000
3      4  12202582    Cabinteely  ...       detached    81.00  499000
4      5  12299336          Lusk  ...       detached   153.00  510000

[5 rows x 14 columns]

In [17]:
# Generate descriptive statistics
df_train.describe()

             Index            ID  ...       Surface         Price
count  1638.000000  1.638000e+03  ...   1638.000000  1.638000e+03
mean    819.500000  1.231930e+07  ...    169.540695  5.547196e+05
std     472.994186  1.447540e+05  ...   1791.793934  5.652032e+05
min       1.000000  1.118567e+07  ...      3.400000  1.999500e+04
25%     410.250000  1.228104e+07  ...     73.000000  2.950000e+05
50%     819.500000  1.238055e+07  ...     97.050000  3.950000e+05
75%    1228.750000  1.240548e+07  ...    135.000000  5.950000e+05
max    1638.000000  1.242836e+07  ...  72236.387140  8.900000e+06

[8 rows x 8 columns]

### Test dataset

In [18]:
# show first data frame rows 
df_test.head()

   Index        ID   Location  ...  Longitude            Type Surface
0   1639  12292473   Milltown  ...  -6.243391       townhouse    65.0
1   1640  12314667  Glasnevin  ...  -6.281936   semi-detached   142.0
2   1641  11699240     Dalkey  ...  -6.108675        detached    80.0
3   1642  12416984     Raheny  ...  -6.185334        detached   209.0
4   1643  12383407    Crumlin  ...  -6.308938  end-of-terrace   108.0

[5 rows x 13 columns]

In [19]:
# Generate descriptive statistics
df_test.describe()

             Index            ID  ...   Longitude      Surface
count   702.000000  7.020000e+02  ...  702.000000   702.000000
mean   1989.500000  1.231545e+07  ...   -6.252411   132.603530
std     202.794231  1.420680e+05  ...    0.091600   330.347066
min    1639.000000  1.147889e+07  ...   -6.521183    32.100000
25%    1814.250000  1.227637e+07  ...   -6.304258    73.000000
50%    1989.500000  1.237928e+07  ...   -6.247799    99.200000
75%    2164.750000  1.240421e+07  ...   -6.184277   136.875000
max    2340.000000  1.242824e+07  ...   -6.057150  8576.000000

[8 rows x 7 columns]

### Expected Cost dataset

Natural language processing ([NLP](https://en.wikipedia.org/wiki/Natural_language_processing)) is a subfield of linguistics, computer science, and artificial intelligence.

* NLP concerned with the interactions between computers and human language.
* In particular how to program computers to process and analyze large amounts of natural language data. 
* The goal is a computer capable of "understanding" the contents of documents.
* Including the contextual nuances of the language within them. 
* The technology can then accurately extract information and insights contained in the documents.
* As well as categorize and organize the documents themselves.

# NATURAL LANGUAGE PROCESSING

Your comments, explanation, and references here.

In [21]:
# remove non text features
df_train = df_train.drop(['Index', 'ID', 'Num_Bathrooms', 'Num_Beds', 'BER_class', 'Latitude', 'Longitude', 'Surface'], axis='columns')

In [22]:
# show first data frame rows 
df_train.head()

       Location  ...   Price
0         Ongar  ...  195000
1  North Strand  ...  425000
2     Stepaside  ...  535000
3    Cabinteely  ...  499000
4          Lusk  ...  510000

[5 rows x 6 columns]

# PIECEWISE REGRESSION

**Piecewise regression**, extract from [Wikipedia](https://en.wikipedia.org/wiki/Segmented_regression):

Segmented regression, also known as piecewise regression or broken-stick regression, is a method in regression analysis in which the independent variable is partitioned into intervals and a separate line segment is fit to each interval. 

* Segmented regression analysis can also be performed on 
multivariate data by partitioning the various independent variables. 
* Segmented regression is useful when the independent variables, clustered into different groups, exhibit different relationships between the variables in these regions. 

* The boundaries between the segments are breakpoints.

* Segmented linear regression is segmented regression whereby the relations in the intervals are obtained by linear regression.

Your comments, explanation, and references here.

In [ ]:
# your code here

# BAYESIAN NN

A [Bayesian network](https://en.wikipedia.org/wiki/Bayesian_network) (also known as a Bayes network, Bayes net, belief network, or decision network) is a probabilistic graphical model that represents a set of variables and their conditional dependencies via a directed acyclic graph (DAG). 

* Bayesian networks are ideal for taking an event that occurred and predicting the likelihood that any one of several possible known causes was the contributing factor. 
* For example, a Bayesian network could represent the probabilistic relationships between diseases and symptoms. 
* Given symptoms, the network can be used to compute the probabilities of the presence of various diseases.

Your comments, explanation, and references here.

In [ ]:
# your code here

# SUMMARY

Your summary here.